{
  "project_info": {
    "project_number": "YOUR_PROJECT_NUMBER_HERE",
    "project_id": "YOUR_PROJECT_ID_HERE",
    "storage_bucket": "YOUR_PROJECT_ID_HERE.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "YOUR_MOBILE_SDK_APP_ID_HERE",
        "android_client_info": {
          "package_name": "com.samlovesit.StoryApp"
        }
      },
      "oauth_client": [
        {
          "client_id": "YOUR_OAUTH_CLIENT_ID_HERE",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "YOUR_API_KEY_HERE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "YOUR_IOS_CLIENT_ID_HERE",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}